# Server Configuration
PORT=

# Auth Configuration
JWKS_URI=

# Database Configuration
DATABASE_URL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Kafka Configuration
KAFKA_BROKERS=
KAFKA_PRODUCT_TOPIC=
KAFKA_SASL_USERNAME=your_username_here
KAFKA_SASL_PASSWORD=your_password_here
KAFKA_SASL_MECHANISM=
# Frontend Configuration
CLIENT_UI_URL=
ADMIN_UI_URL=